%{erl_opts, [warnings_as_errors]}.
{xref_checks, [undefined_function_calls]}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{eunit_opts, [verbose,
   {report, {eunit_surefire, [{dir, "."}]}}]}.
{validate_app_modules, false}.
%% Whether to enable coverage reporting. Default is `false'
{cover_enabled, true}.

%% Whether to print coverage report to console. Default is `false'
{cover_print_enabled, true}.

%% Whether to export coverage report to file. Default is `false'
{cover_export_enabled, false}.

{lib_dirs,["deps"]}.
{deps_dir, "deps"}.
{deps, [
	{wrangler, ".*", {git, "https://github.com/RefactoringTools/wrangler.git", {branch, "master"}}}
]}.

