%% Stops at warnings, treating them as errors
{erl_opts, [warnings_as_errors]}.

%% Checks for undefined function calls
{xref_checks, [undefined_function_calls]}.

%% Cleans editor backups and binary files
{clean_files, ["*~", "ebin/*.beam"]}.

%% EUnit options
{eunit_opts, [verbose]}.

%% Whether to validate app modules
{validate_app_modules, true}.

%% Whether to enable coverage reporting. Default is `false'
{cover_enabled, true}.

%% Whether to print coverage report to console. Default is `false'
{cover_print_enabled, true}.

%% Whether to export coverage report to file. Default is `false'
{cover_export_enabled, false}.

%% List of library directories
{lib_dirs, ["deps"]}.

%% Where to find dependencies
{deps_dir, "deps"}.

%% List of dependencies
{deps, [
	{wrangler, ".*", {git, "https://github.com/RefactoringTools/wrangler.git", {branch, "master"}}, [raw]}
]}.

%% Additional steps
{post_hooks, [{'get-deps', "./build_wrangler.sh"}]}.

