{minimum_otp_vsn, "17.0"}.

%% Stops at warnings, treating them as errors
{erl_opts, [warnings_as_errors]}.

%% Checks for undefined function calls
{xref_checks, [undefined_function_calls]}.

%% Cleans editor backups and binary files
{clean_files, ["*~", "ebin/*.beam"]}.

%% EUnit options
{eunit_opts, [verbose]}.

%% Whether to enable coverage reporting. Default is `false'
{cover_enabled, true}.
%% Whether to print coverage report to console. Default is `false'
{cover_print_enabled, true}.
%% Whether to export coverage report to file. Default is `false'
{cover_export_enabled, false}.

%% List of dependencies
{deps, [{jsx, "~> 2.9"}
       ,{wrangler,
         {git, "https://github.com/RefactoringTools/wrangler.git",
          {ref, "17ff0338b2bc846d3d02983b66e7e1dcaed0c197"}}}
       ]}.
